#card-img-top {
    width: 150px;
    height: 215px;
    object-fit: cover;
    border: solid 5px lightyellow
}

#first {
    padding: 0;
    border: solid 3px white;
    background-image: url("https://i.pinimg.com/originals/da/42/64/da4264a33bbcfcd56d3cb80e26430518.png");
}

#amazon {
    color: indigo;
    font-family: 'Lora', serif;
    text-align: center;
}

#nav {
    width: 100%;
    justify-content: center;
}

#fkimg {
    width: 175px;
    height: 215px;
    object-fit: cover;
    border: solid 5px lightyellow
}
